@import "base/ui-variables";
@import 'variables';

@gray-base: @arc-light;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darken(@gray-base, 46.7%);
@gray-lighter: darken(@arc-dark, 2.5%);
@white: @arc-dark;

@accent-primary: @arc-accent;
@accent-primary-dark: darken(@accent-primary, 20%);

@background-primary: @arc-dark;
@background-off-primary: @arc-dark;
@background-secondary: @arc-dark;
@background-tertiary: @arc-light;

@border-color-primary: lighten(@background-primary, 10%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: @arc-light;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: @arc-light;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: @arc-dark;

@input-bg: lighten(@background-primary, 5%);
@input-border: @border-color-divider;

@list-bg: #333;
@list-border: #383838;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @arc-dark;
@panel-background-color: @arc-dark;

.sheet-toolbar {
  border-bottom: 1px solid @border-color-divider;
  box-shadow: none;
}

.thread-icon:not(.thread-icon-unread):not(.thread-icon-star) {
  filter: invert(100%);
}
img.content-dark {
  filter: invert(100%);
}
img.content-light {
  filter: invert(100%);
}

.mail-label {
  filter: contrast(110%) brightness(85%);
}

.thread-list .list-item:not(.unread):not(.selected):not(.focused) {
  color: #aaa;
}
